/*.7up-theme{
	background-image: url('../image/7up.png');
}*/
.vc_element-icon.icon-st{
	background-image: url('../image/7up.png') !important;
}
#adminmenu .toplevel_page_ot-theme-options .wp-menu-image img {
	padding: 1px;
}
.s7up_image_check {
	width: 85px;
	float: right;
	clear: left;
	margin-top: -88px;
}
.s7up_image_check img{
	width: 100%;
}
.has-show-image {
	 width: calc(100% - 90px) !important;
 }
.s7up_image_check .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	/*padding-top: 100px;*/ /* Location of the box */
	/*left: 0;
	top: 0;*/
	/*width: 100%;*/ /* Full width */
	/*height: 100%;*/ /* Full height */
	overflow: auto; /* Enable scroll if needed */
	margin-left: 37px;
	box-shadow: 1px 1px 4px rgba(0,0,0,.25);
}

/* Modal Content (image) */
.s7up_image_check .modal-content {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 500px;
}

/* Caption of Modal Image */
.s7up_image_check #caption {
	display: none;
	margin: auto;
	width: 100%;
	max-width: 500px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.s7up_image_check .modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {max-width:0px}
	to {max-width:500px}
}

@keyframes zoom {
	from {max-width:0px}
	to {max-width:500px}
}

/* The Close Button */
.s7up_image_check .close {
	display: none;
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.s7up_image_check .modal .title{
	margin: 0px;
	padding: 5px 10px;
	font-size: 12px;
	color: #fff;
	background: #2b4b80;
}
.s7up_image_check{
	position: relative;
}
.s7up_image_check .fa-share{
	position: absolute;
	transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	top: -9px;
	color: #00aef0;
	font-size: 18px;
}
.s7up_image_check img.image_icon_mb{
	width: 95%;
	border: 1px solid #00aef0;
}
.s7up_image_check .title-view-demo{
	position: absolute;
	top: -24px;
	right: -6px;
	font-size: 10px;
	color: #00aef0;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.s7up_image_check .modal-content {
		width: 100%;
	}
}
.s7up_image_check:hover .modal{
	display: inline-block;
}/*
.s7up_image_check .modal:hover{
	display: none;
}*/

/*Fix UI*/
.wrap.settings-wrap .ui-tabs-nav{
	border: 0 !important;
    background: transparent;
}

/*verify style*/
.vr-message{
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 94%;
    background: #fff;
}
.vr-message.message-error{
    border-color: #e41010;
}
.vr-message.message-info{
    border-color: #106fe4;
}
.vr-message.message-success{
    border-color: #10e447;
}
.vr-message.message-success p>strong {
    min-width: 120px;
    display: inline-block;
}
.d-block{
    display: block;
}
.d-hidden{
    display: none;
}
.wrap>h2:first-child{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.vc-c-icon-layout_ss {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.vc-c-icon-layout_ss:before {
    content: "\e91a";
}
.img-100{
    width:100px; 
    height:100px; 
    padding:5px;
}
.vc_settings .wp-picker-input-wrap label {
    margin-top: 0 !important;
    display: inline-block !important;
}
.wp-picker-container .wp-color-result.button{
    max-width: 150px;
}
.wp-color-result:focus::after, 
.wp-color-result:hover::after{
    display: none;
}
.regular-text{
    border: 1px solid #e5e5e5;
    height: 34px;
    line-height: 34px;
}
.nav-menus-php .item-edit:before{
	margin-bottom: 30px;
}